<%= form_with(model: picture, local: true, url:confirm_feed_path) do |form| %>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="image">
    <%= form.label :image %>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
